.skill-container {
    h1{
        color: #373c88;
    }
      

    @media screen and (max-width: 1200px) {
        .title {
            padding: 1rem;
        }
    }

    .skills {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;

        @media screen and (max-width: 1200px) {
            padding: 1rem;
        }

        .skills-item {

            div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
     

            p {
                font-size: 0.7rem;
            }

            img {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}