.about-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background:#f5f5f5;
    min-height: 100vh;

    @media screen and (max-width:1200px) {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
}
.about-me {
    padding: 2rem;
    color: #302d3e;
    width: 50%;
    div{
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
    @media screen and (max-width:1200px) {
        width: 100%;
    }
}

.download-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #433f99;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    .download-icon{
        margin-left: 5px;
    }
}

.download-button:hover {
    background-color: #5351c8;
}

.profiles {
    color: #302d3e;
    display: flex;
    text-align: center;
    .profile-item {
        display: flex;
        margin-bottom: 20px;
        margin-right: 20px;
        flex-direction: column;
        padding: 1rem;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        align-items: center;
        img {
            object-fit: cover;
            height: 150px;
            width: 150px;
            border-radius: 50%;
        }

        h2 {
            margin-top: 20px;
        }

        p {
            margin-top: 10px;
        }
    }

            @media screen and (max-width:1200px) {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                 .profile-item {
                     width: 350px;
                     margin-right: 0;
                 }
            }
}

.head-text{
    margin-top: 2rem;
    color:#dad8e3;
    text-align: center;
}
