.about-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background:#f5f5f5;
    min-height: 60vh;
   

    @media screen and (max-width:1200px) {
            padding-bottom: 3rem;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
}

.about-images{
    display: flex;
    width: 20rem;
    @media screen and (max-width:900px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
           
        }
.about-pic {
        height: 100%;
        width: 100%;
        border-radius: 15px;
        @media screen and (max-width:900px) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}


.about-section {
    padding: 1rem;
    color: #302d3e;
    width: 40%;

    div{
        display: flex; 
    }

    .me-section{
        @media screen and (max-width:1200px) {
                display: flex;
                flex-direction: column;   
            }

        div {          
            @media screen and (max-width:900px) {
                margin-top: 1rem;
            }
        }
    }

   
        @media screen and (max-width:1200px) {
            width: 100%;
        }

    .download-button {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #433f99;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        .download-icon {
            margin-left: 5px;
        }

        @media screen and (max-width:900px) {
            margin-top: 1rem;
        }
    }
    .download-button:hover {
        background-color: #5351c8;
    }
 
}



