.about {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    position: relative;

    .profiles {
            color: #b5aef0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 2rem;
    
            .profile-item {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                width: 300px;
                margin: 2rem;
                border: 1px solid #5f5a85;
                border-radius: 15px;
                padding: 1rem;
    
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 200px;
                    border-radius: 15px;
    
                }
    
                h2 {
                    margin-top: 20px;
                }
    
                p {
                    margin-top: 10px;
                }
    
            }
    }
    
    
    .profile-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50vh;

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    
}

.head-text{
    margin-top: 2rem;
    color:#dad8e3;
    text-align: center;
}
