#services {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .profiles {
        color: #302d3e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
     

        @media only screen and (max-width: 1200px) {
                width: 100%;
                padding: 0;
            }

        @media screen and (max-width: 900px) {
            width: 100%;
            padding: 0rem;
            
        }

        h1 {
            text-align: center;
            width: 100%;
        }

        .offer {
            text-align: center;
            padding: 1rem;
            width: 60%;
            

            @media screen and (max-width: 900px) {
                p{
                    font-size: smaller;
                }
                width: 100%;         
                text-align: center;
            }
        }

        .mySwiper {
            width: 100%;
            padding: 0.2rem;
            @media screen and (max-width: 1200px) {
                    width: 73%;
                    padding: 1rem;
                }
            @media screen and (max-width: 900px) {
                    width: 100%;
                    padding: 1rem;
                }
                .profile-item {
                    cursor: pointer;
                    margin-bottom: 2rem;
                    height: 15rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;  
                    justify-content: center;
                    align-items: center;  
                    text-align: center;                
                    padding: 1rem;
                    border-radius: 8px;
                    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

                   
                    h3 {
                        margin-top: 1rem;
                    }

                    p {
                        margin-top: 0.5rem;
                    }

                    img{
                       
                        height: 4rem;
                        width: 4rem;
                    }
                }

            .swiper-pagination {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                .swiper-pagination-bullet {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #bbb;
                    opacity: 1;
                    transition: opacity 0.2s;

                    &.swiper-pagination-bullet-active {
                        opacity: 1;
                        background-color: #000;
                    }
                }
            }

        
        }
    }
}