.navbar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    position: fixed;
    z-index: 2;
    background: none;

    &.scrolled {
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    }
}

.navbar-icons{
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    color:#433f99;
    @media screen and (max-width:900px) {
     display:none   
    }
}



.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

.navbar-links{
    flex: 1;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    li{ 
        margin:0 1rem;
        cursor:pointer;
        flex-direction: column;
    }
   a {
        cursor: pointer;
        color: #24283c;
        text-decoration: none;
        font-weight: 500;
        flex-direction: column;
        text-transform: uppercase;
        position: relative;
        transition: all 0.3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: #24283c97;
            transition: all 0.3s ease-in-out;
            transform-origin: 50%;
        }

       &:hover {
           color: #24283c97;

           &::before {
               width: 100%;
           }
       }
       
   }

    @media screen and (max-width:2000px) {
        display: none;
        &.scrolled {
                display: flex;
            }
    }

    @media screen and (max-width:1200px) {
        display: none;
    }
    @media screen and (max-width:900px) {
     display:none;
        &.scrolled {
                display: none;
            }
    }

}

.navbar-menu{
    width: 35px;
    height: 35px;
    border-radius: 20%;
    position: relative;
    background-color: #433f99;
    display: flex;
    justify-content: center;
    align-items: center;


    .navbar-menu-icons {
            width: 15px;
            height: 15px;
    
        }

    svg{
        cursor: pointer;
        width: 70%;
        height: 70%;
        color: #ffffff;
    }

    div{
        
        position: fixed;
        top:0;
        bottom:0;
        right:0;
        padding: 1rem;
        height: 100vh;
        width: 50%;
        display: flex;
        justify-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        background-color: #433f99;        box-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
        svg{
            color: #ffffff;
            width: 35px;
            height: 35px;
            margin: 0.5rem 1rem;
        }
        ul{
            list-style: none;
            height: 100%;
            width: 100%;
            color: rgba(254, 254, 254, 0.801);
            font-weight: 500;

            display: flex;
            justify-self: flex-start;
            align-items: flex-start;
            flex-direction: column;
            text-transform: uppercase;
            position: relative;

           
            li{
            margin: 1rem;
            
                .menu-links{
                    color: rgba(254, 254, 254, 0.801);
                        text-decoration: none;
                        font-weight: 500;
                        flex-direction: column;
                        text-transform: uppercase;
                        position: relative;              
                        transition: all 0.3s ease-in-out;
                    
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 2px;
                            background-color: rgba(254, 254, 254, 0.801);
                            transition: all 0.3s ease-in-out;
                            transform-origin: 50%;
                        }
                    
                        &:hover {
                            color: rgb(255, 255, 255);
                    
                            &::before {
                                width: 100%;
                            }
                        }
                }

            }
        } 
        @media screen and (min-width:900px) {
            display: none;
        }       
    }
    @media screen and (min-width:900px) {
        display: none;
    }
}

