.navbar {
    position: fixed;
    z-index: 20;

    @media only screen and (max-width: 1200px) {
        width: 100%;
        padding: 0;
    }

    @media only screen and (min-width: 904px) {
        width: 12.5%;
    }
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a2a5d4;
    @media only screen and (max-width: 900px) {
        padding: 1rem;
        background-color: #484fb6;
        border-bottom: none;
    }
}

.nav-center {
    height: 100%;
    max-width: 100vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}

.nav-icons{
 display: flex;
 gap: 1rem;

 .nav-link-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    font-size:1.3rem;
    @media only screen and (max-width: 1200px) and (min-width: 900px) {
    width: 100%;
    font-size: 1.3rem;
    }
    
 }
    .nav-text {
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        @media only screen and (max-width: 1200px) and (min-width: 900px) {
            display: none;
        }
    }
}



.logo-container{
    padding: 0.2rem;
@media screen and (max-width: 900px) {
        padding: 0rem;
    }
}

@media screen and (min-width: 900px) {
    .nav-toggle {
        display: none;
    }

    .navbar-header {
        padding: 0;
    }


    .menu-container {
        height: auto !important;
    }

    .menu {
        display: block;
        padding: 1rem;

        a {
            margin-top: 0.5rem;
            color: #ffffff;
            background: none;
            border-radius: 15px;
            text-transform: capitalize;
            display: block;
            transition: 0.3s ease-in-out all; 
            padding: 0.5rem;
            &:hover {
                color: #ffffff;
                background-color: #4147a2;
                padding-left: 1.5rem;
            }
        }
    }

    .react-icons {
        color: rgb(251, 251, 251);
        width: 20px;
        height: 20px;
        transition: 0.3s ease-in-out all;
        &:hover {
            color: #9598ee;
        }
    }

    .nav-socials{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 12.5%;
     
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        @media only screen and (max-width: 1200px) and (min-width: 900px) {
            display: grid;
            justify-content: center;
        }
    }

}

.logo{
    display: flex;
    height: 60px;
    @media screen and (max-width: 900px) {
        height: 50px;
        }
    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        width: 100%;
    }
}

.nav-toggle {
  font-size: 1.5rem;
  color: #ffff;
  background: transparent;
  border-color: transparent;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  &:hover {
    color: #7070ec;
    }
}

.menu-container{
    overflow: hidden;
    transition: 0.3s ease-in-out all;
}


@media screen and (max-width: 900px) {
.menu 
a {
        text-transform: capitalize;
        color: #403b9d;
        font-size: rem;
        display: block;
        transition: 0.3s ease-in-out all;
        background: #f9f8fb;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        &:hover {
            background-color: #4147a2;
            color: white;
            padding-left: 1.5rem;
        }
    }
        .social-icons {
            display: none;
        }
}

