.footer {
    display: flex;
    background-color: #484fb6;
    justify-content: center;
    position: relative;
    padding: 1rem;
    width: 100%;   
    color: rgba(255, 255, 255, 0.803);
    @media screen and (max-width:1200px) {
            width: 100%;
        }
    }




