.footer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;   
    @media screen and (max-width:1200px) {
            width: 100%;
        }
    }


.footer-icons {
    display:flex;
    bottom: 0px;
    color: #6763c8;
    width: 2rem;
    height: 2rem;
    color: #6763c8;
    transition: 0.3s ease-in-out all;

    &:hover {
        color: #cfd0e7;
    }
}


.footer-social-icons{
    display: flex;
    justify-content: center;
}


