body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #939ea9;
    ;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #484fb6;
    /* color of the scroll thumb */
  
    /* roundness of the scroll thumb */
    border: 3px solid #484fb6;
    ;
    /* creates padding around scroll thumb */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}


#root {
font-family: 'Poppins', sans-serif;
}

.app-grid {
    display: grid;
    grid-template-columns: 1fr 7fr;
        .sidebar{
            background-color: #484fb6;
        }
    @media screen and (max-width: 900px) {
    display: block;
        }
}
.scroll-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: x-large;
    font-weight: 800;
    color: #484fb6;
    :hover{
        color: #8084c2;
    }
}




//  className="flex justify-center items-center text-yellow-600 font-bold text-2xl h-10 w-10">