body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #939ea9;
    ;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #fff1d3;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #e3dfe294;
    ;
    /* creates padding around scroll thumb */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

#root {
font-family: 'Poppins', sans-serif;
}



.app-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


